/* FONTS  */
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.container{
  max-width: 1300px;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
}
/* HEADER  */
/* site-nav */
.site-header{
  background-color: #F0F5FB;
  background-image: url("../img/bannerimg.png");
  background-repeat: no-repeat;
  background-position: 0 50px;
  background-size: 100%;
}
.site-nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.nav-list{
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  padding-top: 10px;
  list-style-type: none;
}
.nav-item + .nav-item{
  margin-left: 40px;
}
.nav-link, .working-hours{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
.site-info{
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.working-hours{
  white-space: nowrap;
}
.working-hours::before{
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 4px;
  height: 4px;
  margin-right: 9px;
  background-color: #46CB72;
  border-radius: 50%;
}
.phone-number{
  margin-left: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}
.phone-number::before{
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 33px;
  height: 33px;
  margin-right: 16px;
  border-radius: 50%;
  background: url("../img/tel.png"),
  linear-gradient(287.74deg, #F58656 8.52%, #c0c0c0 92.72%);
  background-position: center center;
  background-repeat: no-repeat;
}
/* intro  */
.intro-container{
  position: relative;
  top:  105px;
}
.intro-container::after{
  margin-left: auto;
  display: block;
  content: "";
  max-width: 897px;
  height: 590px;
  background-image: url("../img/pizza.png");
  background-size:  contain;
  background-position: 100%;
  background-repeat: no-repeat;
  
}
.intro-data{
  max-width: 621px;
  margin: 0 auto;
  color: #000000;
  text-align: center;
}
.intro-title{
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 48px;
  line-height: 59px;
}
.intro-info{
  margin-bottom: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}